{% extends 'oneshot/layouts/layout.two.html.twig' %}

{% block layout_content %}

<h2>#{{ tag.name }}</h2>

<div class="articles">
  {% for post in posts %}
    <article>
      <span class="date">Enviado el {{post.createdAt | date("m/d/y")}} por {{ post.user.name }}</span>
      <div class="body wrap">
        {% if post.body %}
          <p>{{ post.body | sanitize_html('app.post_sanitizer') | raw }}</p>
        {% endif %}
      </div>
      {% if post.tags %}
        <ul class="tags">
        {% for v in post.tags %}
            <li><a href="/tag/{{ v.id }}"  class="tag">#{{ v.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      <div class="data">
        <ul class="tags">
          <li class="date"> Expira en {{ post.expiredAt }} días | </li>
          <li class="date">Puntos: {{ post.points }}</li>
        </ul>
      </div>
    </article>
  {% endfor %}
</div>

{% endblock %}
