    <article>
      {% if post.title %}
        <h3>{{ post.title }}</h3>
      {% endif %}
      <span class="date">Por <a href="/user/{{ post.user.userIdentifier }}/edit">{{ post.user.name }}, el {{post.createdAt | date("m/d/y")}}</a>
        {% if post.user.image %}
          <div class="container-img-post">
            <div class="crop">
              <img src="{{ fburi }}{{ post.user.image.path }}" />
            </div>
          </div>
        {% endif %}
      </span>
      <div class="body wrap">
        {% if post.body %}
          <p>{{ post.body | sanitize_html('app.post_sanitizer') | raw }}</p>
        {% endif %}
      </div>
      {% if post.tags %}
        <ul class="tags">
        {% for v in post.tags %}
            <li><a href="/tag/{{ v.id }}"  class="tag">#{{ v.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      
      <div class="data">
        <ul>
          <li class="date"> Expira en {{ post.expiredAt }} días | </li>
          <li class="date">Puntos: {{ post.points }}</li>
        </ul>
      </div>
    </article>
    {% if post.id == last.id %} 
      <span id="pager" data-page="{{last.createdAt}}"></span>
    {% endif %}